@tailwind base;
@tailwind components;
@tailwind utilities;
body {

}
.bgimg {
  background-image: url("../public/bgimage.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-y: hidden;
  scrollbar-width: 0px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-style{
font-family: 'poppins';
color: white;
font-size:x-large;
}
.text-paragraph{
  font-family: 'poppins';
  color: white;
  font-size:x-large;
}
.button-style{
  background: linear-gradient(90deg, #574E6D 50%, #DDDDDD 50%);
  color: white;
}

.left-text{
position: absolute;
color: #00a426;
display: flex;
justify-content: center;
align-items: center;
}

.right-text{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: #00a426;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-text);
  z-index: '1';
};
.hover-bg:hover {
  background-color:#DDDDDD; /* Add your desired hover background color here */
  cursor: pointer;
  /* Add any other styles you want for the hover effect */
}